<a href="https://colab.research.google.com/github/suwitchaya17/data_viz_2022/blob/main/Dashboard_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูล

#ข้อมูล Data Covid

In [1]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [2]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/covid_data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 2020-01-12 ถึง 2021-08-11

In [3]:
data_file_path1 = os.path.join(path,'confirmed-cases.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_file_path1)

/content/drive/My Drive/covid_data/confirmed-cases.xlsx

In [4]:
data_covid1 = pd.read_excel(data_file_path1)  #กำหนดตัวแปร data_covid เป็นข้อมูลของผู้ป่วยโควิด
data_covid1  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

## 2021-08-12 ถึง 2021-10-25

In [5]:
data_file_path2 = os.path.join(path,'confirmed-cases-since-120864.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_file_path2)

/content/drive/My Drive/covid_data/confirmed-cases-since-120864.xlsx

In [6]:
data_covid2 = pd.read_excel(data_file_path2)  #กำหนดตัวแปร data_covid เป็นข้อมูลของผู้ป่วยโควิด
data_covid2  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,2021-08-12,2021-08-11,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,2021-08-12,2021-08-11,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,2021-08-12,2021-08-11,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,2021-08-12,2021-08-11,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,2021-08-12,2021-08-11,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

## 2021-10-26 ถึง 2022-02-27

In [7]:
data_file_path3 = os.path.join(path,'confirmed-cases-since-271064.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_file_path3)

/content/drive/My Drive/covid_data/confirmed-cases-since-271064.xlsx

In [8]:
data_covid3 = pd.read_excel(data_file_path3)  #กำหนดตัวแปร data_covid เป็นข้อมูลของผู้ป่วยโควิด
data_covid3  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

2022-02-28 ถึง 2022-03-23

In [9]:
data_file_path4 = os.path.join(path,'confirmed-cases-since-280265.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_file_path4)

/content/drive/My Drive/covid_data/confirmed-cases-since-280265.xlsx

In [10]:
data_covid4 = pd.read_excel(data_file_path4)  #กำหนดตัวแปร data_covid เป็นข้อมูลของผู้ป่วยโควิด
data_covid4  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
554335,3423952,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554336,3423953,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554337,3423954,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554338,3423955,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554339,3423956,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [11]:
data_covid4[data_covid4['announce_date']=='2022-03-18'] # เพื่อเรียกดูว่า 2022-03-18 มีถึงแถวที่เท่าไหร่ เพื่อที่จะนำไปตัดเฉพาะ row ที่ต้องการ

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
406482,3276099,2022-03-18,2022-03-17,หญิง,31.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,จุน
406483,3276100,2022-03-18,2022-03-17,หญิง,6.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เชียงคำ
406484,3276101,2022-03-18,2022-03-17,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
406485,3276102,2022-03-18,2022-03-17,หญิง,33.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ปง
406486,3276103,2022-03-18,2022-03-17,ชาย,11.0,เดือน,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,ปง
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

## 2022-02-28 ถึง 2022-03-18

In [12]:
data_covid4new = data_covid4.iloc[0:433553,:] #เรียกดูตารางใหม่ที่ตัดออกมา จะได้วันที่ 2022-02-28 ถึง 2022-03-23
data_covid4new

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

ต่อตาราง โดยเอาตาราง 2 ตารางมาต่อกัน

In [13]:
Data1 = pd.concat([data_covid1,data_covid2])
Data1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,2021-10-25,2021-10-24,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,2021-10-25,2021-10-24,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,2021-10-25,2021-10-24,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,2021-10-25,2021-10-24,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [14]:
Data2 = pd.concat([data_covid3,data_covid4new])
Data2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

# 12/01/2020 - 18/03/2022

In [15]:
covid = pd.concat([Data1,Data2])
covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,2020-01-22,NaT,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,NaT,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,2020-01-24,NaT,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,2022-03-18,2022-03-17,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

# ***ตารางข้อมูล Data covid

In [16]:
all_datacovid = covid[['announce_date',	'sex', 'age','risk','province_of_onset']]
all_datacovid

,announce_date,sex,age,risk,province_of_onset
0,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...
433548,2022-03-18,หญิง,NaN,ทัณฑสถาน/เรือนจำ,NaN
433549,2022-03-18,หญิง,NaN,ทัณฑสถาน/เรือนจำ,NaN
433550,2022-03-18,หญิง,NaN,ทัณฑสถาน/เรือนจำ,NaN
433551,2022-03-18,หญิง,NaN,ทัณฑสถาน/เรือนจำ,NaN
433552,2022-03-18,หญิง,NaN,ทัณฑสถาน/เรือนจำ,NaN

##ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [17]:
all_datacovid.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง all_datacovid
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

announce_date        False
sex                   True
age                   True
risk                  True
province_of_onset     True
dtype: bool

##แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [18]:
all_datacovid_updated = all_datacovid.fillna(value={'sex':'ไม่รู้', 'age':-99, 'risk':'ไม่รู้', 'province_of_onset':'ไม่รู้'}) #แทน missing ด้วยค่าที่เหมาะสม ในตาราง all_datacovid  
all_datacovid_updated #all_datacovid_updated

,announce_date,sex,age,risk,province_of_onset
0,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...
433548,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้
433549,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้
433550,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้
433551,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้
433552,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้

##ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [19]:
all_datacovid_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง all_datacovid_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

announce_date        False
sex                  False
age                  False
risk                 False
province_of_onset    False
dtype: bool

# ข้อมูล ภูมิภาค

In [20]:
data_list_region = { 'จังหวัด':['อำนาจเจริญ','บึงกาฬ','บุรีรัมย์','ชัยภูมิ','กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม','มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู','หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ','สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'
              ,'เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี'
              ,'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'
              ,'กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],    #column 1 -> จังหวัด
              '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก'
              ,'กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 2 -> 6 ภูมิภาค (ภูมิศาสตร์)
              '4 ภูมิภาค (การเมือง)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 3 -> 4 ภูมิภาค (การเมือง)
              '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'
              ,'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'
              ,'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],     #column 4 -> 6 ภูมิภาค (อุตุนิยมวิทยา)	
              '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']     #column 5 -> 5 ภูมิภาค (การท่องเที่ยว)
}

#***ตารางข้อมูล ภูมิภาค

In [21]:
data_region = pd.DataFrame.from_dict(data_list_region)   #กำหนดตัวแปร data_region เป็นข้อมูลภูมิภาคของประเทศไทย
data_region   #เรียกดูตารางภูมิภาคของประเทศไทย

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

##ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [22]:
data_region.isnull().any()  #ดูค่า Missing คอลัมน์ของตาราง data_region
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

#****คอลัมน์ที่จะใช้ของ ข้อมูล covid และ ภูมิภาค

In [23]:
combine_data = all_datacovid_updated.merge(data_region,how='left',left_on = 'province_of_onset',right_on = 'จังหวัด') #เชื่อมตาราง 2 ตาราง คือ all_datacovid_updated และ data_region
combine_data  #แสดงตาราง

,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,นครปฐม,กลาง,กลาง,กลาง,กลาง
3,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
4,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...
3303164,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,NaN,NaN,NaN,NaN,NaN
3303165,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,NaN,NaN,NaN,NaN,NaN
3303166,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,NaN,NaN,NaN,NaN,NaN
3303167,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,NaN,NaN,NaN,NaN,NaN
3303168,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,NaN,NaN,NaN,NaN,NaN

##ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [24]:
combine_data.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง combine_data
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

announce_date                False
sex                          False
age                          False
risk                         False
province_of_onset            False
จังหวัด                       True
6 ภูมิภาค (ภูมิศาสตร์)        True
4 ภูมิภาค (การเมือง)          True
6 ภูมิภาค (อุตุนิยมวิทยา)     True
5 ภูมิภาค (การท่องเที่ยว)     True
dtype: bool

##แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [25]:
combine_data_updated = combine_data.fillna(value={'จังหวัด':'ไม่ทราบ', '6 ภูมิภาค (ภูมิศาสตร์)':'ไม่ทราบ','4 ภูมิภาค (การเมือง)':'ไม่ทราบ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ไม่ทราบ','5 ภูมิภาค (การท่องเที่ยว)':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม ในตาราง combine_data 
combine_data_updated #เรียกดูตาราง combine_data_updated

,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,นครปฐม,กลาง,กลาง,กลาง,กลาง
3,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
4,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...
3303164,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
3303165,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
3303166,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
3303167,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
3303168,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ

##ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [26]:
combine_data_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง combine_data_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

announce_date                False
sex                          False
age                          False
risk                         False
province_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

# ข้อมูลที่เตรียมมา : รายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [27]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [28]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/mohpromt_data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
data_file_path5 = os.path.join(path,'MOHPROMT.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_file_path5)

/content/drive/My Drive/mohpromt_data/MOHPROMT.xlsx

In [30]:
mohpromt_covid = pd.read_excel(data_file_path5)  #กำหนดตัวแปร mohpromt_covid เป็นข้อมูลของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม
mohpromt_covid  #เรียกดูตารางของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

,ชื่อ,สาขา,ประเภท,ตำบล,อำเภอ,จังหวัด,นำทาง
0,ร้านยาฟารุก,แว้ง,ร้านยา,แว้ง,แว้ง,นราธิวาส,นำทาง
1,อัสลามการแพทย์คลินิกเวชกรรม,NaN,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร,นำทาง
2,ศูนย์ยาสี่แยกข่วงสิงห์,NaN,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่,นำทาง
3,เอสทีเภสัช,NaN,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช,NaN
4,ร้านบู๊ทส์,บู๊ทส์ - โลตัส เชิงทะเล,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต,นำทาง
...,...,...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,NaN,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี,นำทาง
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,NaN,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด,NaN
9248,บ้านยาน้ำกระจาย,NaN,ร้านยา,พะวง,เมืองสงขลา,สงขลา,นำทาง
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,NaN,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร,NaN
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN,NaN,NaN

#***ตารางข้อมูล รายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [31]:
all_datamohpromt = mohpromt_covid[['ชื่อ','ประเภท','ตำบล','อำเภอ','จังหวัด']]
all_datamohpromt

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN

##ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [32]:
all_datamohpromt.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง combine_data
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

ชื่อ       False
ประเภท      True
ตำบล        True
อำเภอ       True
จังหวัด     True
dtype: bool

##แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [33]:
mohpromt_covid_updated = all_datamohpromt.fillna(value={'ประเภท':'ไม่ระบุ', 'อำเภอ':'ไม่ระบุ','จังหวัด':'ไม่ระบุ'}) #แทน missing ด้วยค่าที่เหมาะสม ในตาราง mohpromt_covid
mohpromt_covid_updated #เรียกดูตาราง mohpromt_covid_updated

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ

##ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [34]:
mohpromt_covid_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง combine_data_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

ชื่อ       False
ประเภท     False
ตำบล        True
อำเภอ      False
จังหวัด    False
dtype: bool

## ตัดเอาเฉพาะแถวที่ต้องการ

In [35]:
def nums(first_number, last_number, step=1): #ฟังก์ชั้นเรียกข้อมูลตามลำดับตั้งแต่เลขตัวแรกถึงตัวสุดท้ายโดยนับไปทีละ1
    return range(first_number, last_number+1, step) #ส่งข้อมูล

In [ ]:
from pandas.core.indexes.base import Index #นำเข้า index

frames = [] #สร้างตัวเก็บข้อมูล

Index_province = Index(mohpromt_covid_updated['จังหวัด']) #นำรายชื่อจังหวัดออกมา
Index_province = Index_province.drop_duplicates(keep='first') #โดยเก็บชื่อจังหวัดที่พบเป็นอันดับแรกไว้ที่ตัวแปร index_province
Index_province = Index_province.drop('ไม่ระบุ') #เอาข้อมูลที่ไม่ปรากฏชื่อจังหวัดออก

for i in nums(0, 76): #สร้างลูปให้ i เป็นเลขตั้งแต่ 0-76 คือแต่ละจังหวัดที่ 0-76 ของตาราง
  mp_province = mohpromt_covid_updated[mohpromt_covid_updated['จังหวัด'] == Index_province[i]] # ให้ mp_province คือ ตัวแปรที่แยกข้อมูล77จังหวัด
  mp_province = mp_province.head(1) # แยก mp_province ให้เหลือ 5 ข้อมูลแรกของแต่ละจังหวัด
  frames.append(mp_province) #นำข้อมูล 5 ข้อมูลของแต่ละจังหวัดเข้าไปไว้ใน frame

result = pd.concat(frames) # รวมข้อมูล
result # แสดงผล

#รวมตารางข้อมูล รวมตารางข้อมูล Covid , ภูมิภาค , รายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

รวมตาราง

In [40]:
dashboard_data = combine_data_updated.merge(result,how='left',left_on = 'จังหวัด',right_on = 'จังหวัด') #เชื่อมตาราง 2 ตาราง คือ combine_data_updated และ result
dashboard_data #แสดงตาราง

,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),ชื่อ,ประเภท,ตำบล,อำเภอ
0,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
1,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
2,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,นครปฐม,กลาง,กลาง,กลาง,กลาง,ร้านบู๊ทส์,ร้านยา,ห้วยจรเข้,เมืองนครปฐม
3,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
4,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303164,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,NaN,NaN,NaN,NaN
3303165,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,NaN,NaN,NaN,NaN
3303166,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,NaN,NaN,NaN,NaN
3303167,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,NaN,NaN,NaN,NaN
3303168,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,NaN,NaN,NaN,NaN

##ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [42]:
dashboard_data.isnull().any()  #ดูค่า Missing คอลัมน์ของตาราง dashboard_data
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

announce_date                False
sex                          False
age                          False
risk                         False
province_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
ชื่อ                          True
ประเภท                        True
ตำบล                          True
อำเภอ                         True
dtype: bool

##แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง data_covid

In [44]:
dashboard_data_updated = dashboard_data.fillna(value={'ชื่อ':'ไม่ระบุ', 'ประเภท':'ไม่ระบุ','ตำบล':'ไม่ระบุ','อำเภอ':'ไม่ระบุ'}) #แทน missing ด้วยค่าที่เหมาะสม ในตาราง dashboard_data
dashboard_data_updated #เรียกดูตาราง dashboard_data_updated

,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),ชื่อ,ประเภท,ตำบล,อำเภอ
0,2020-01-12,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
1,2020-01-17,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
2,2020-01-22,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,นครปฐม,กลาง,กลาง,กลาง,กลาง,ร้านบู๊ทส์,ร้านยา,ห้วยจรเข้,เมืองนครปฐม
3,2020-01-22,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
4,2020-01-24,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303164,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303165,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303166,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303167,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303168,2022-03-18,หญิง,-99,ทัณฑสถาน/เรือนจำ,ไม่รู้,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

##ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [46]:
dashboard_data_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง dashboard_data_updated หลังแทน missing ด้วยค่าที่เหมาะสม
#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

announce_date                False
sex                          False
age                          False
risk                         False
province_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
ชื่อ                         False
ประเภท                       False
ตำบล                         False
อำเภอ                        False
dtype: bool

# save file เพื่อทำ Dashboad

In [60]:
dashboard_data_updated.to_excel('project_clean.xlsx', index = False)

ValueError: ignored