<a href="https://colab.research.google.com/github/suwitchaya17/data_viz_2022/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เตรียมข้อมูล

In [27]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [28]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/covid_data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Data Covid
ต้องการข้อมูลของวันที่ 17 ธันวาคม 2021 - 11 มีนาคม 2022

## 2021-10-26 ถึง 2022-02-27

In [29]:
data1 =  os.path.join(path,'confirmed-cases-since-271064.xlsx') #แล้วก็ชี้ไปที(data1)
print(data1)

/content/drive/My Drive/covid_data/confirmed-cases-since-271064.xlsx

In [30]:
data1_covid = pd.read_excel(data1)  #กำหนดตัวแปร data1_covid เป็นข้อมูลของผู้ป่วยโควิด
data1_covid #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [31]:
data1_covid[data1_covid['announce_date']=='2021-12-17'] #เพื่อดูว่าข้อมูลที่เราต้องการเริ่มที่ low ที่เท่าไหร่

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
322803,2181961,2021-12-17,2021-12-16,หญิง,18,ปี,Thailand,แพร่,อื่นๆ,แพร่,NaN
322804,2181962,2021-12-17,2021-12-16,ชาย,46,ปี,NaN,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,NaN
322805,2181963,2021-12-17,2021-12-16,ชาย,42,ปี,NaN,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,NaN
322806,2181964,2021-12-17,2021-12-16,ชาย,30,ปี,NaN,เชียงราย,อยู่ระหว่างการสอบสวน,เชียงราย,NaN
322807,2181965,2021-12-17,2021-12-16,หญิง,10,ปี,NaN,เชียงราย,อื่นๆ,เชียงราย,NaN
...,...,...,...,...,...,...,...,...,...,...,...
326335,2185493,2021-12-17,2021-12-16,ชาย,26,ปี,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,ปัตตานี,NaN
326336,2185494,2021-12-17,2021-12-16,ชาย,31,ปี,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,ปัตตานี,NaN
326337,2185495,2021-12-17,2021-12-16,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,ปัตตานี,NaN
326338,2185496,2021-12-17,2021-12-16,ชาย,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,สงขลา,NaN
326339,2185497,2021-12-17,2021-12-16,ชาย,50,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

In [32]:
data2_covid = data1_covid.iloc[322803:1010458,:] #เรียกดูตารางใหม่ที่ตัดออกมา จะได้วันที่ 2021-12-17 ถึง 2022-02-27
data2_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
322803,2181961,2021-12-17,2021-12-16,หญิง,18,ปี,Thailand,แพร่,อื่นๆ,แพร่,NaN
322804,2181962,2021-12-17,2021-12-16,ชาย,46,ปี,NaN,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,NaN
322805,2181963,2021-12-17,2021-12-16,ชาย,42,ปี,NaN,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,NaN
322806,2181964,2021-12-17,2021-12-16,ชาย,30,ปี,NaN,เชียงราย,อยู่ระหว่างการสอบสวน,เชียงราย,NaN
322807,2181965,2021-12-17,2021-12-16,หญิง,10,ปี,NaN,เชียงราย,อื่นๆ,เชียงราย,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1010453,2869611,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

## 2022-02-28 ถึง 2022-03-23

In [33]:
data3 = os.path.join(path,'confirmed-cases-since-280265.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data3) #เรียกดูตารางของผู้ป่วยโควิด

/content/drive/My Drive/covid_data/confirmed-cases-since-280265.xlsx

In [34]:
data4_covid = pd.read_excel(data3)  #กำหนดตัวแปร data_covid เป็นข้อมูลของผู้ป่วยโควิด
data4_covid  #เรียกดูตารางของผู้ป่วยโควิด

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
554335,3423952,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554336,3423953,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554337,3423954,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554338,3423955,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
554339,3423956,2022-03-23,2022-03-22,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [35]:
data4_covid[data4_covid['announce_date']=='2022-03-11'] #เพื่อดูว่าข้อมูลที่เราต้องการควรตัดที่ low ที่เท่าไหร่

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
242241,3111858,2022-03-11,2022-03-10,หญิง,29.0,ปี,NaN,เชียงใหม่,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,เมืองเชียงใหม่
242242,3111859,2022-03-11,2022-03-10,หญิง,18.0,ปี,NaN,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,เมืองเชียงใหม่
242243,3111860,2022-03-11,2022-03-10,หญิง,28.0,ปี,NaN,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,หางดง
242244,3111861,2022-03-11,2022-03-10,หญิง,51.0,ปี,NaN,เชียงใหม่,อยู่ระหว่างการสอบสวน,เชียงใหม่,เมืองเชียงใหม่
242245,3111862,2022-03-11,2022-03-10,หญิง,43.0,ปี,NaN,เชียงใหม่,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,สันทราย
...,...,...,...,...,...,...,...,...,...,...,...
267028,3136645,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267029,3136646,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267030,3136647,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267031,3136648,2022-03-11,2022-03-10,NaN,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
267032,3136649,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [36]:
data5_covid = data4_covid.iloc[0:267032,:] #เรียกดูตารางใหม่ที่ตัดออกมา จะได้วันที่ 2022-02-28 ถึง 2022-03-11
data5_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
267027,3136644,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
267028,3136645,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267029,3136646,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267030,3136647,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267031,3136648,2022-03-11,2022-03-10,NaN,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

### ต่อตาราง data2_covid และ data5_covid 


เพื่อที่จะได้วันที่ ต้องการข้อมูลของวันที่ 17 ธันวาคม 2021 - 11 มีนาคม 2022

In [37]:
covid = pd.concat([data2_covid,data5_covid])
covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
322803,2181961,2021-12-17,2021-12-16,หญิง,18,ปี,Thailand,แพร่,อื่นๆ,แพร่,NaN
322804,2181962,2021-12-17,2021-12-16,ชาย,46,ปี,NaN,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,NaN
322805,2181963,2021-12-17,2021-12-16,ชาย,42,ปี,NaN,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,NaN
322806,2181964,2021-12-17,2021-12-16,ชาย,30,ปี,NaN,เชียงราย,อยู่ระหว่างการสอบสวน,เชียงราย,NaN
322807,2181965,2021-12-17,2021-12-16,หญิง,10,ปี,NaN,เชียงราย,อื่นๆ,เชียงราย,NaN
...,...,...,...,...,...,...,...,...,...,...,...
267027,3136644,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,ปทุมธานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
267028,3136645,2022-03-11,2022-03-10,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267029,3136646,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267030,3136647,2022-03-11,2022-03-10,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
267031,3136648,2022-03-11,2022-03-10,NaN,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [62]:
all_datacovid1 = covid[['No.','announce_date','sex', 'age','risk','province_of_onset']]
all_datacovid1

,No.,announce_date,sex,age,risk,province_of_onset
322803,2181961,2021-12-17,หญิง,18,อื่นๆ,แพร่
322804,2181962,2021-12-17,ชาย,46,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย
322805,2181963,2021-12-17,ชาย,42,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย
322806,2181964,2021-12-17,ชาย,30,อยู่ระหว่างการสอบสวน,เชียงราย
322807,2181965,2021-12-17,หญิง,10,อื่นๆ,เชียงราย
...,...,...,...,...,...,...
267027,3136644,2022-03-11,ชาย,NaN,ทัณฑสถาน/เรือนจำ,NaN
267028,3136645,2022-03-11,ชาย,NaN,ทัณฑสถาน/เรือนจำ,NaN
267029,3136646,2022-03-11,หญิง,NaN,ทัณฑสถาน/เรือนจำ,NaN
267030,3136647,2022-03-11,หญิง,NaN,ทัณฑสถาน/เรือนจำ,NaN
267031,3136648,2022-03-11,NaN,NaN,ทัณฑสถาน/เรือนจำ,NaN

### ตัดค่าที่ไม่แสดงออก

In [63]:
all_datacovid = all_datacovid1.dropna()
all_datacovid

,No.,announce_date,sex,age,risk,province_of_onset
322803,2181961,2021-12-17,หญิง,18,อื่นๆ,แพร่
322804,2181962,2021-12-17,ชาย,46,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย
322805,2181963,2021-12-17,ชาย,42,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย
322806,2181964,2021-12-17,ชาย,30,อยู่ระหว่างการสอบสวน,เชียงราย
322807,2181965,2021-12-17,หญิง,10,อื่นๆ,เชียงราย
...,...,...,...,...,...,...
266852,3136469,2022-03-11,หญิง,35.0,บุคลากรด้านการแพทย์และสาธารณสุข,นนทบุรี
266853,3136470,2022-03-11,ชาย,28.0,บุคลากรด้านการแพทย์และสาธารณสุข,กรุงเทพมหานคร
266854,3136471,2022-03-11,ชาย,29.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร
266855,3136472,2022-03-11,หญิง,42.0,บุคลากรด้านการแพทย์และสาธารณสุข,กรุงเทพมหานคร
266856,3136473,2022-03-11,หญิง,31.0,บุคลากรด้านการแพทย์และสาธารณสุข,กรุงเทพมหานคร

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [64]:
all_datacovid.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง all_datacovid
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                  False
announce_date        False
sex                  False
age                  False
risk                 False
province_of_onset    False
dtype: bool

##Data ภูมิภาค

In [65]:
data_region = { 'จังหวัด':['อำนาจเจริญ','บึงกาฬ','บุรีรัมย์','ชัยภูมิ','กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม','มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู','หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ','สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'
              ,'เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี'
              ,'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'
              ,'กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],    #column 1 -> จังหวัด
              '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก'
              ,'กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 2 -> 6 ภูมิภาค (ภูมิศาสตร์)
              '4 ภูมิภาค (การเมือง)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],   #column 3 -> 4 ภูมิภาค (การเมือง)
              '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'
              ,'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'
              ,'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],     #column 4 -> 6 ภูมิภาค (อุตุนิยมวิทยา)	
              '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'
              ,'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ'
              ,'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'
              ,'ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']     #column 5 -> 5 ภูมิภาค (การท่องเที่ยว)
}

In [66]:
data1_region = pd.DataFrame.from_dict(data_region)   #กำหนดตัวแปร data1_region เป็นข้อมูลภูมิภาคของประเทศไทย
data1_region   #เรียกดูตารางภูมิภาคของประเทศไทย

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [67]:
all_region = data1_region[['จังหวัด','6 ภูมิภาค (ภูมิศาสตร์)']]
all_region

       จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0   อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1       บึงกาฬ     ตะวันออกเฉียงเหนือ
2    บุรีรัมย์     ตะวันออกเฉียงเหนือ
3      ชัยภูมิ     ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์     ตะวันออกเฉียงเหนือ
..         ...                    ...
72       พังงา                    ใต้
73      ภูเก็ต                    ใต้
74       ระนอง                    ใต้
75        สตูล                    ใต้
76        ตรัง                    ใต้

[77 rows x 2 columns]

##### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [68]:
all_region.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง data1_region
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
dtype: bool

### ต่อตาราง all_datacovid_updated และ ตาราง all_region

In [69]:
covid_region = all_datacovid.merge(all_region,how='left',left_on = 'province_of_onset',right_on = 'จังหวัด') #เชื่อมตาราง 2 ตาราง คือ all_datacovid และ all_region
covid_region  #แสดงตาราง

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,2181961,2021-12-17,หญิง,18,อื่นๆ,แพร่,แพร่,เหนือ
1,2181962,2021-12-17,ชาย,46,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เชียงราย,เหนือ
2,2181963,2021-12-17,ชาย,42,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เชียงราย,เหนือ
3,2181964,2021-12-17,ชาย,30,อยู่ระหว่างการสอบสวน,เชียงราย,เชียงราย,เหนือ
4,2181965,2021-12-17,หญิง,10,อื่นๆ,เชียงราย,เชียงราย,เหนือ
...,...,...,...,...,...,...,...,...
781300,3136469,2022-03-11,หญิง,35.0,บุคลากรด้านการแพทย์และสาธารณสุข,นนทบุรี,นนทบุรี,กลาง
781301,3136470,2022-03-11,ชาย,28.0,บุคลากรด้านการแพทย์และสาธารณสุข,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
781302,3136471,2022-03-11,ชาย,29.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
781303,3136472,2022-03-11,หญิง,42.0,บุคลากรด้านการแพทย์และสาธารณสุข,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
781304,3136473,2022-03-11,หญิง,31.0,บุคลากรด้านการแพทย์และสาธารณสุข,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง

### ตัดค่าที่ไม่แสดงออก

In [70]:
all_covid_region = covid_region.dropna()
all_covid_region

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,2181961,2021-12-17,หญิง,18,อื่นๆ,แพร่,แพร่,เหนือ
1,2181962,2021-12-17,ชาย,46,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เชียงราย,เหนือ
2,2181963,2021-12-17,ชาย,42,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เชียงราย,เหนือ
3,2181964,2021-12-17,ชาย,30,อยู่ระหว่างการสอบสวน,เชียงราย,เชียงราย,เหนือ
4,2181965,2021-12-17,หญิง,10,อื่นๆ,เชียงราย,เชียงราย,เหนือ
...,...,...,...,...,...,...,...,...
781300,3136469,2022-03-11,หญิง,35.0,บุคลากรด้านการแพทย์และสาธารณสุข,นนทบุรี,นนทบุรี,กลาง
781301,3136470,2022-03-11,ชาย,28.0,บุคลากรด้านการแพทย์และสาธารณสุข,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
781302,3136471,2022-03-11,ชาย,29.0,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
781303,3136472,2022-03-11,หญิง,42.0,บุคลากรด้านการแพทย์และสาธารณสุข,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง
781304,3136473,2022-03-11,หญิง,31.0,บุคลากรด้านการแพทย์และสาธารณสุข,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง

#### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [47]:
covid_region.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง covid_region
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                    True
6 ภูมิภาค (ภูมิศาสตร์)     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง covid_region

In [48]:
covid_region_updated = covid_region.fillna(value={'จังหวัด':'ไม่ทราบ', '6 ภูมิภาค (ภูมิศาสตร์)':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง covid_region
covid_region_updated # แสดงตาราง covid_region_updated

,No.,announce_date,sex,age,risk,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,2181961,2021-12-17,หญิง,18,อื่นๆ,แพร่,แพร่,เหนือ
1,2181962,2021-12-17,ชาย,46,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เชียงราย,เหนือ
2,2181963,2021-12-17,ชาย,42,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เชียงราย,เหนือ
3,2181964,2021-12-17,ชาย,30,อยู่ระหว่างการสอบสวน,เชียงราย,เชียงราย,เหนือ
4,2181965,2021-12-17,หญิง,10,อื่นๆ,เชียงราย,เชียงราย,เหนือ
...,...,...,...,...,...,...,...,...
954682,3136644,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
954683,3136645,2022-03-11,ชาย,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
954684,3136646,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
954685,3136647,2022-03-11,หญิง,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ
954686,3136648,2022-03-11,ไม่ทราบ,ไม่ทราบ,ทัณฑสถาน/เรือนจำ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [49]:
covid_region_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง covid_region_updated หลังแทน missing ด้วยค่าที่เหมาะสม

#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

No.                       False
announce_date             False
sex                       False
age                       False
risk                      False
province_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
dtype: bool

## Data รายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

In [50]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง
import os  #จัดการไฟล์และ path

In [51]:
from google.colab import drive  #เชื่อม google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/mohpromt_data'   #pathจะชี้ไปยังโฟล์เดอร์

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
data_mohpromt = os.path.join(path,'MOHPROMT.xlsx') #แล้วก็ชี้ไปที่ไฟล์
print(data_mohpromt)

/content/drive/My Drive/mohpromt_data/MOHPROMT.xlsx

In [53]:
mohpromt_covid = pd.read_excel(data_mohpromt)  #กำหนดตัวแปร mohpromt_covid เป็นข้อมูลของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม
mohpromt_covid  #เรียกดูตารางของรายชื่อหน่วยงานที่เข้าร่วมโครงการหมอพร้อม

,ชื่อ,สาขา,ประเภท,ตำบล,อำเภอ,จังหวัด,นำทาง
0,ร้านยาฟารุก,แว้ง,ร้านยา,แว้ง,แว้ง,นราธิวาส,นำทาง
1,อัสลามการแพทย์คลินิกเวชกรรม,NaN,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร,นำทาง
2,ศูนย์ยาสี่แยกข่วงสิงห์,NaN,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่,นำทาง
3,เอสทีเภสัช,NaN,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช,NaN
4,ร้านบู๊ทส์,บู๊ทส์ - โลตัส เชิงทะเล,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต,นำทาง
...,...,...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,NaN,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี,นำทาง
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,NaN,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด,NaN
9248,บ้านยาน้ำกระจาย,NaN,ร้านยา,พะวง,เมืองสงขลา,สงขลา,นำทาง
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,NaN,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร,NaN
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN,NaN,NaN

### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [54]:
all_mohprom = mohpromt_covid[['ชื่อ','ประเภท', 'ตำบล', 'อำเภอ', 'จังหวัด']]
all_mohprom

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,NaN,NaN,NaN,NaN

##### ตรวจสอบว่าข้อมูลมีค่า Missing หรือไม่

In [55]:
all_mohprom.isnull().any()  #ดูค่า Missing รายคอลัมน์ของตาราง all_mohprom
#เนื่องจากมี True แสดงว่ามีค่าที่เป็น Missing จะทำการลบค่า Missing ต่อไป

ชื่อ       False
ประเภท      True
ตำบล        True
อำเภอ       True
จังหวัด     True
dtype: bool

####แทน missing ด้วยค่าที่เหมาะสม 

โดยคำสั่ง fillna() ของตาราง all_mohprom

In [56]:
all_mohprom_updated = all_mohprom.fillna(value={'ประเภท':'ไม่ทราบ', 'ตำบล':'ไม่ทราบ', 'อำเภอ':'ไม่ทราบ', 'จังหวัด':'ไม่ทราบ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง all_mohprom
all_mohprom_updated # แสดงตาราง covid_region_updated

,ชื่อ,ประเภท,ตำบล,อำเภอ,จังหวัด
0,ร้านยาฟารุก,ร้านยา,แว้ง,แว้ง,นราธิวาส
1,อัสลามการแพทย์คลินิกเวชกรรม,คลินิก,บางอ้อ,เขตบางพลัด,กรุงเทพมหานคร
2,ศูนย์ยาสี่แยกข่วงสิงห์,ร้านยา,ช้างเผือก,เมืองเชียงใหม่,เชียงใหม่
3,เอสทีเภสัช,ร้านยา,ในเมือง,เมืองนครศรีธรรมราช,นครศรีธรรมราช
4,ร้านบู๊ทส์,ร้านยา,เชิงทะเล,ถลาง,ภูเก็ต
...,...,...,...,...,...
9246,กุดข้าวปุ้นเภสัช,ร้านยา,ข้าวปุ้น,กุดข้าวปุ้น,อุบลราชธานี
9247,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองบัวพัฒนา,โรงพยาบาล/หน่วยงานภาครัฐ,น้ำอ้อม,เกษตรวิสัย,ร้อยเอ็ด
9248,บ้านยาน้ำกระจาย,ร้านยา,พะวง,เมืองสงขลา,สงขลา
9249,โรงพยาบาลมุกดาหารอินเตอร์เนชั่นแนล,หน่วยงานเอกชน/อื่นๆ,ศรีบุญเรือง,เมืองมุกดาหาร,มุกดาหาร
9250,กองพยาบาล กรมแผนที่ทหาร,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ

####ตรวจสอบว่ายังมีค่า Missing หรือไม่

In [57]:
all_mohprom_updated.isnull().any() #ดูค่า Missing คอลัมน์ของตาราง all_mohprom_updated หลังแทน missing ด้วยค่าที่เหมาะสม

#เนื่องจากเป็น False ทุกค่า แสดงว่าตารางนี้ไม่มีค่า Missing แล้ว

ชื่อ       False
ประเภท     False
ตำบล       False
อำเภอ      False
จังหวัด    False
dtype: bool

### ต่อตาราง covid_region_updated และ ตาราง all_mohprom_updated