<a href="https://colab.research.google.com/github/suwitchaya17/data_viz_2022/blob/main/%E0%B8%BABasic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function ($f(x) = y$)

```python
def function_name(input_x):
     # do something with input_x to get output_y
     return output_y
```

$f_1(x)=x^2+75$

In [ ]:
def function_f1(x):
    a=x**2                #input
    y=a+75               #process
    return y               #output

print('done!')

done!

In [ ]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1. บอก python ว่าเราจะเขียนฟังก์ชัน ชื่ออะไร `def function_name() : (ขาดไม่ได้)`
2. กำหนดตัวแปรที่จะเป็น input *Input* (ขาดได้)
3. ส่วนประมวณผล do_something with *Input* to get Output (ขาดไม่ได้)
4. ส่วน output return *Output* (ขาดได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [3]:
def function_f1(x):
    a=x**2                
    y=a+75               
    return y

### ตัวอย่าง function ที่ไม่มี input

In [ ]:
def pi_v():
    y=3.14159265359
    return y

In [ ]:
piv=pi_v()
circle_area_r2=piv*(2**2)
print(circle_area_r2)

12.56637061436

### Function ไม่มี process ไม่ได้

In [ ]:
def function_a(:)

SyntaxError: ignored

ตัวอย่าง Function ที่ไม่มี output

In [ ]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [ ]:
print_name_id('สุวิชญา','623020455-5')

ชื่อ สุวิชญา รหัสประจำตัว 623020455-5

In [ ]:
a=print_name_id('สุวิชญา','623020455-5')

ชื่อ สุวิชญา รหัสประจำตัว 623020455-5

In [ ]:
a

[ข้อความลิงก์](https://)ตัวอย่าง function `print` https://www.programiz.com/python-programming/methods/built-in/print

In [ ]:
print('สุวิชญา',end=' -> ')
print('623020455-5')

สุวิชญา -> 623020455-5

In [ ]:
print('สุวิชญา','623020455-5')

สุวิชญา 623020455-5

In [ ]:
print('สุวิชญา','623020455-5',sep=' & ')

สุวิชญา & 623020455-5

## input ของ finction แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade()`มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [2]:
def print_grade(name,id,grade = 'F'):
    print(f' รหัสประจำตัว {id} ชื่อ {name} ')
    print(f' ได้เกรด {grade} ')

In [ ]:
print_grade('นางสาวสุวิชญา ก้องเวหา', '623020455-5','A')

 รหัสประจำตัว 623020455-5 ชื่อ นางสาวสุวิชญา ก้องเวหา
 ได้เกรด A

In [ ]:
print_grade(id = '623020455-5',name = 'นางสาวสุวิชญา ก้องเวหา',grade='B+')

 รหัสประจำตัว 623020455-5 ชื่อ นางสาวสุวิชญา ก้องเวหา
 ได้เกรด B+

# Looping (for)

```python
for member in listEx:
    do_something()
```

In [1]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [4]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [5]:
for name in ['สุวิชญา','ซาบาริต้า','โปเต้','บูบู้','แบะๆ']:
    N=name #ไม่จำเป็นต้องทำก็ได้
    print_name(N)

ฉันชื่อ สุวิชญา
ฉันชื่อ ซาบาริต้า
ฉันชื่อ โปเต้
ฉันชื่อ บูบู้
ฉันชื่อ แบะๆ

In [6]:
list_name_id_grade = [['นางสาวสุวิชญา ก้องเวหา','623030455-5','A'],['ดอลลี่ โชเช','623020455-6','B+'],['หลิงหลิง จีจ้า','623020455-7', 'B']]

In [8]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each [2]
    print_grade(name,id,grade)
    print('-------------------------')

 รหัสประจำตัว 623030455-5 ชื่อ นางสาวสุวิชญา ก้องเวหา
 ได้เกรด A
-------------------------
 รหัสประจำตัว 623020455-6 ชื่อ ดอลลี่ โชเช
 ได้เกรด B+
-------------------------
 รหัสประจำตัว 623020455-7 ชื่อ หลิงหลิง จีจ้า
 ได้เกรด B
-------------------------

## ใช้ for loop เพิ่มสมาชิกใน list

In [10]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [11]:
list_name

['นางสาวสุวิชญา ก้องเวหา', 'ดอลลี่ โชเช', 'หลิงหลิง จีจ้า']

###  การวนลูป `range()`

In [13]:
for i in range(100):
    print('งง', end = ' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

###Loop ซ้อน Loop

In [15]:
for mem1 in range (2,5): #[2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13): #[1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}' )
    print(f'end inder for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inder for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inder for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inder for mem1 = 4

### Loop in Function

In [16]:
def print_grade_loop(names,grades): #มีหลยตัวเติม s เข้าไปด้วย
    for n,g in zip (names,grades):
        print(f'{n} ได้เกรด {g}')

In [17]:
print_grade_loop(list_name,list_grade)

นางสาวสุวิชญา ก้องเวหา ได้เกรด A
ดอลลี่ โชเช ได้เกรด B+
หลิงหลิง จีจ้า ได้เกรด B

# Conditional Statement (if)

```python
if condition1:
    do_something() ## ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
    do_another_thing() ## ถ้า condition1 ไม่เป็นจริงแต่ condition2 เป็นจริง ทำ do_another_thing()
else:
    do_the_las_thing() ## ถ้าไม่มี condition ไหนเป็นจริงเลย ทำ di_the_last_thing()
```

In [20]:
for n in list_name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print(f'{n} ได้เกรด F')

นางสาวสุวิชญา ก้องเวหา ได้เกรด A
ดอลลี่ โชเช ได้เกรด F
หลิงหลิง จีจ้า ได้เกรด F

### operator ที่ใช้ตรวจสอบ condition

==, !=, >=, <=, <, >, and, or

In [22]:
a = 10 == 20
print(a)

False

In [23]:
b = 15 <= 20
print(b)

True

In [24]:
if a:
    print('x')

In [25]:
if True:
    print('x')

x

In [27]:
if a and b:
    print('x')

In [28]:
if a or b:
    print('x')

x

# HW
เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด

*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
*  ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
*  ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'